/* #ifndef APP-NVUE */
page {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
}

/* #endif */
.wrap {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	flex: 1;
	width: 750rpx;
	background-color: #fff;
}

.wrap-content {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.content {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	width: 630rpx;
	flex-direction: column;
}

.content-top-title {
	font-size: 32rpx;
	font-weight: 600;
	padding-top: 50rpx;
}

.hidden,
page {
	background-color: transparent;
}

.login-iknow {
	padding-top: 24rpx;
	padding-bottom: 48rpx;
}

.phone-input-box {
	height: 85rpx;
	background-color: #f9f9f9;
	border-radius: 6rpx;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.phone-area {
	padding: 0 20rpx;
	font-size: 30rpx;
	/* #ifdef APP-NVUE */
	border-right-width: 1rpx;
	border-right-color: #d7d9d8;
	/* #endif */
	/* #ifndef APP-NVUE */
	border-right: 1rpx solid #d7d9d8;
	/* #endif */
}
.phone-input {
	flex: 1;
	/* #ifndef APP-NVUE */
	border-left: 1rpx solid #D7D9D8;
	/* #endif */
	/* #ifdef APP-NVUE */
	border-left-width: 1rpx;
	border-left-color: #d7d9d8;
	/* #endif */
	padding: 0 20rpx;
	font-size: 30rpx;
}

.tip-text {
	padding-top: 20rpx;
	padding-bottom: 36rpx;
	color: #8a8f8b;
	font-size: 26rpx;
}

.send-btn-box {
	height: 85rpx;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	width: 630rpx;
	justify-content: center;
	align-items: center;
	border-radius: 6rpx;
}

.send-btn-text {
	color: #fff;
}

.send-btn-active {
	background-color: #007aff;
}

.auth-box {
	width: 630rpx;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.login-text {
	color: #1c436e;
	font-size: 26rpx;
}

.hover {
	opacity: 0.8;
}
